<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" href="index.html"
      ><i class="bi bi-house pe-2"></i>すまいる</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto me-3">
        <li class="nav-item">
          <a class="nav-link" href="index.html">ホーム</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="web.html">Web制作</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="real-estate.html">不動産</a>
        </li>
      </ul>
      <button class="btn btn-primary">
        <a class="text-decoration-none text-white" href="tel:09066770419"
          >TEL: 090-6677-0419</a
        >
      </button>
    </div>
  </div>
</nav>
