<footer class="py-5 bg-black text-white">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 text-center text-lg-start">
        <h5 class="fw-bold mb-3">
          <i class="bi bi-laptop me-2"></i>すまいる Web Works
        </h5>
        <p class="text-white-50 small mb-0" style="line-height: 1.8">
          〒636-0800<br />
          奈良県生駒郡三郷町東信貴ケ丘 2-11-7<br />
          Tel : 090-6677-0419</br>
         <a href="mailto:info@sumairu-nara.com" class="text-white-50 text-decoration-none transition-hover">
  info@sumairu-nara.com
</a>
        </p>
      </div>

      <div class="col-lg-4 text-center text-lg-start pt-lg-1">
        <h6
          class="text-white-50 mb-3 small fw-bold"
          style="letter-spacing: 0.1em"
        >
          運営サービス
        </h6>
        <ul class="list-unstyled small mb-0">
          <li class="mb-2">
            <a
              href="index.html"
              class="text-white text-decoration-none transition-hover"
            >
              <i
                class="bi bi-chevron-right text-primary me-1"
                style="font-size: 0.8em"
              ></i
              >店舗向けWebサイト制作
            </a>
          </li>
          <li>
            <a
              href="./akiya"
              class="text-white-50 text-decoration-none transition-hover"
              title="すまいる空き家管理サービス"
            >
              <i class="bi bi-chevron-right me-1" style="font-size: 0.8em"></i
              >三郷町周辺の空き家管理
              <i
                class="bi bi-box-arrow-up-right ms-1"
                style="font-size: 0.8em"
              ></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 text-center text-lg-end pt-lg-1">

        <p class="text-white-50 small mb-0">
          &copy; 2026 Sumairu. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
